/* PHASE 1: Header */
body {
  background: #eee;
  font-family: "Roboto", sans-serif;
}

header {
  background: #f00;
  position: relative;
  z-index: 1;
}

nav {
  width: 900px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header-logo {
  float: left;
  border-right: 1px solid #ccc;
  font-weight: 700;
}

.header-list {
  float: right;
}

.header-list li {
  float: left;
  border-left: 1px solid #ccc;
}

.header-nav a {
  color: #fff;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-nav a:hover {
  background: #000;
}
