/* PHASE 2: Notifications */

.badge {
  border-radius: 100px;
  background: #000;
  padding: 1px 6px 1px 5px;
  font-size: 14px;
}

.notifications-parent {
  position: relative;
}

.notifications-list {
  display: none;
  position: absolute;
  white-space: nowrap;
  background: #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  font-size: 14px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.notifications-parent:hover {
  background: #000;
}

.notifications-parent:hover .notifications-list {
  display: block;
}

.notifications-parent:hover .badge {
  background: red;
}

.notifications-list li {
  display: block;
  float: none;
  border-top: 1px solid #ccc;
}

.notifications-list a {
  display: block;
  color: #000;
  padding: 10px 20px;
}

.notifications-list a:hover {
  background: #eee;
  display: block;
}
