/* PHASE 3: Layout */

.content {
  width: 900px;
  margin: auto;
  min-height: 200px;
  background: #fff;
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.content:before {
  display: block;
  content: "";
  border-left: 1px solid #ccc;
  top: 0px;
  bottom: 0px;
  left: 240px;
  position: absolute;
}

.content-sidebar {
  width: 200px;
  min-height: 200px;
  /*background: blue;*/
  float:left;
  padding: 20px 20px 30px 20px;
}
.content-main {
  width: 620px;
  min-height: 200px;
  /*background: yellow;*/
  float: right;
  padding: 20px;
}
