/* PHASE 4: Footer */
.footer {
  background: #fff;
  width: 900px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: #aaa;
  font-size: 14px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.footer-copyright {
  float: left;
  padding: 20px;
}

.footer-list {
  float: right;
  padding-right: 10px;
}

.footer-list li {
  float: left;
  padding: 20px 10px;
}
