/* PHASE 5: Cats */
.content-header {
  position: relative;
  z-index: 0;
  height: 200px;
  background-size: cover;
  background-image: url("/Users/appacademy/desktop/w6d2/css-friends/shared/img/cats.jpg");
  line-height: 1;
}

.name {
  position: absolute;
  color: #fff;
  left: 240px;
  bottom: 20px;
  font-size: 36px;
  text-shadow: #000 0px 0px 10px;
  font-weight: 300;
}

.add-friend {
  float: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  font-weight: 700;
}

.add-friend:hover {
  background-color: #ccc;
}
