/* PHASE 6: Sidebar */
.profile-picture a {
  display: block;
  position: relative;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: -120px;
  overflow: hidden;
}

.profile-info {
  padding: 20px 0px;
}

.profile-info h1 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

.profile-info p {

}


.profile-nav {
  background: #fff;
  margin-bottom: 20px;
}

.profile-nav li:first-child {
  border-top: 1px solid #aaa;
}

.profile-nav li {
  border-bottom: 1px solid #aaa;
  padding: 5px;
  font-weight: 700;
}

.profile-nav li:hover {
  background-color: #eee;
}
