/* PHASE 7: Online */
.online {
  position: absolute;
  top: 15px;
  left: -40px;
  width: 140px;
  background-color: #0c0;
  text-align: center;
  color: #fff;
  transform: rotate(-45deg);
  font-size: 12px;
  padding: 5px;
  letter-spacing: 3px;
  font-weight: 700;
  box-shadow: 0px 1px 4px #070;
  text-transform: uppercase;
}
