/* PHASE 8: Thumbs */

.thumb {
  height: 57px;
  width: 57px;
  display: block;
  position: static;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
}

.profile-friends ul li {
  float: left;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.profile-friends ul li:nth-child(3n+2) {
  margin: 0px 10px;
}

.thumb:before {
  display: none;
  content: attr(title);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  top: -30px;
}

.thumb:after {
  display: none;
  position: absolute;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  top: -7px;
}

.thumb:hover:before,
.thumb:hover:after {
  display: block;
}
/*
.profile-friends ul li:hover .thumb:after {
   display: block;
 }

 .profile-friends ul li:hover .thumb:before {
    display: block;
  }*/
