/* PHASE 9: Forms */

.post-form {
  background-color: #eee;
  float: right;
  width: 85%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.content-main .thumb {
  float: left;
}

.input {
  padding: 20px 0px;
}

.input label {
  padding: 20px;
  font-weight: 700;
}

.input input,
       textarea {
  background-color: #fff;
  width: 88%;
  margin-left: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
 .post-button {
   background-color: #0c0;
   box-shadow: 0px 4px 4px #070;
   padding: 10px 20px 10px 20px;
   margin: 10px 10px 10px 20px;
   color: #fff;
   border-radius: 5px;
   font-weight: 700;
 }

 .cancel-link {
   margin: 20px 5px;
   font-weight: 700;
 }
